body {
  background-color: #3a1919; }

.header img {
  width: 200px; }
.header .navbar-collapse {
  justify-content: flex-end; }
.header .nav-item a {
  color: #0a0a0a;
  transition: 0.3s; }
  .header .nav-item a:hover {
    transform: translateY(5px); }
.header .nav-item .nav-item .dropdown {
  background-color: black; }
.header .modal-header {
  flex-direction: column; }

.header-content {
  position: relative;
  margin-bottom: 50px; }
  .header-content::after {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.322);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%; }
  .header-content img {
    width: 100%; }
  .header-content .logo {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center; }
    .header-content .logo img {
      max-width: 450px; }
    .header-content .logo p {
      color: white;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 50px; }

@media (max-width: 768px) {
  .logo {
    font-size: 10px; } }

@media (max-width: 768px) {
  .logo p {
    display: none; } }

.on-track h1 {
  text-align: center; }
  .on-track h1 body {
    background: #001224;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; }
  .on-track h1 a {
    margin: auto;
    font-size: 1em;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
    background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, right top, from(#90f3b3), color-stop(#90e9f3), color-stop(#909ff3), color-stop(#cc90f3), color-stop(#f390d1), color-stop(#f39a90), color-stop(#f3e590), to(#b8f390)) repeat scroll 0% 0%/200% 200%;
    background: rgba(0, 0, 0, 0) linear-gradient(90deg, #90f3b3, #90e9f3, #909ff3, #cc90f3, #f390d1, #f39a90, #f3e590, #b8f390) repeat scroll 0% 0%/200% 200%;
    background-clip: border-box;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text; }
  .on-track h1 a:hover {
    -webkit-animation: GradientAnimation 2s ease infinite;
    animation: GradientAnimation 2s ease infinite; }
@keyframes GradientAnimation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
.on-track .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-bottom: 50px; }
  .on-track .boxes .box {
    background-color: rgba(0, 0, 0, 0.527);
    border-radius: 25px;
    box-shadow: 1px 1px 5px black;
    transition: 0.3s; }
    .on-track .boxes .box:hover {
      box-shadow: 1px 1px 10px black;
      transform: translateY(-10px);
      border: 1px solid blue;
      background-color: rgba(0, 0, 0, 0.274); }
      .on-track .boxes .box:hover i {
        animation: inandout 0.5s linear infinite;
        color: blue;
        transition: 0.3s; }
@keyframes inandout {
  0% {
    transform: translateX(5px); }
  50% {
    transform: translateX(0px); }
  100% {
    transform: translateX(5px); } }
    .on-track .boxes .box .img {
      text-align: center;
      margin: auto;
      padding-top: 10px; }
      .on-track .boxes .box .img img {
        width: 200px; }
    .on-track .boxes .box .text {
      text-align: center;
      color: white; }
      .on-track .boxes .box .text h3 {
        color: white;
        margin: 10px auto; }
      .on-track .boxes .box .text .specification {
        text-align: start;
        padding: 10px; }
        .on-track .boxes .box .text .specification span {
          color: #3cff00;
          margin: 5px; }
        .on-track .boxes .box .text .specification .price {
          text-align: center;
          font-size: 30px; }
          .on-track .boxes .box .text .specification .price h4 {
            font-size: 40px; }
        .on-track .boxes .box .text .specification .button {
          text-align: center;
          margin: auto; }
          .on-track .boxes .box .text .specification .button button {
            padding: 15px 10px;
            margin-top: 20px;
            cursor: pointer;
            transition: 0.3s; }
            .on-track .boxes .box .text .specification .button button:hover {
              background-color: blue;
              color: white; }

.more-tanks h1 {
  text-align: center; }
  .more-tanks h1 body {
    background: #001224;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; }
  .more-tanks h1 a {
    margin: auto;
    font-size: 1em;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
    background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, right top, from(#90f3b3), color-stop(#90e9f3), color-stop(#909ff3), color-stop(#cc90f3), color-stop(#f390d1), color-stop(#f39a90), color-stop(#f3e590), to(#b8f390)) repeat scroll 0% 0%/200% 200%;
    background: rgba(0, 0, 0, 0) linear-gradient(90deg, #90f3b3, #90e9f3, #909ff3, #cc90f3, #f390d1, #f39a90, #f3e590, #b8f390) repeat scroll 0% 0%/200% 200%;
    background-clip: border-box;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text; }
  .more-tanks h1 a:hover {
    -webkit-animation: GradientAnimation 2s ease infinite;
    animation: GradientAnimation 2s ease infinite; }
@keyframes GradientAnimation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
.carousel-inner h5,
.carousel-inner p {
  font-weight: bold;
  font-size: 20px; }

.latest-news {
  background-image: url(../../img/wp4538085.jpg);
  width: 100%;
  background-size: cover;
  position: relative;
  z-index: 1; }
  .latest-news::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.795);
    z-index: -1; }
  @media (max-width: 768px) {
    .latest-news .latest-news {
      text-align: center; } }
  .latest-news h1 {
    text-align: center;
    padding-top: 20px; }
    .latest-news h1 body {
      background: #001224;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center; }
    .latest-news h1 a {
      margin: auto;
      font-size: 1em;
      font-weight: bold;
      font-family: sans-serif;
      text-decoration: none;
      background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, right top, from(#90f3b3), color-stop(#90e9f3), color-stop(#909ff3), color-stop(#cc90f3), color-stop(#f390d1), color-stop(#f39a90), color-stop(#f3e590), to(#b8f390)) repeat scroll 0% 0%/200% 200%;
      background: rgba(0, 0, 0, 0) linear-gradient(90deg, #90f3b3, #90e9f3, #909ff3, #cc90f3, #f390d1, #f39a90, #f3e590, #b8f390) repeat scroll 0% 0%/200% 200%;
      background-clip: border-box;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text; }
    .latest-news h1 a:hover {
      -webkit-animation: GradientAnimation 2s ease infinite;
      animation: GradientAnimation 2s ease infinite; }
@keyframes GradientAnimation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
.latest-news-content .boxes {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px; }
  .latest-news-content .boxes .box1 {
    text-align: center;
    overflow: hidden;
    border-right: 1px solid rgba(255, 255, 255, 0.534);
    margin-bottom: 50px; }
    .latest-news-content .boxes .box1:hover img {
      transform: scale(1.1);
      filter: brightness(80%); }
    .latest-news-content .boxes .box1:hover h2 {
      color: white; }
  @media (max-width: 768px) {
    .latest-news-content .boxes .box1 {
      border: none;
      width: 93%; } }
  .latest-news-content .boxes img {
    max-width: 340px;
    transition: 0.3s; }
  .latest-news-content .boxes .text {
    color: #7c7967;
    font-size: 10px;
    padding: 10px; }
    .latest-news-content .boxes .text h2 {
      font-size: 25px;
      transition: 0.3s; }
    .latest-news-content .boxes .text p {
      font-size: 15px; }
  .latest-news-content .boxes .general {
    display: flex;
    align-items: center;
    color: #7c7967;
    margin-left: 10px;
    font-size: 7px;
    justify-content: center; }
  .latest-news-content .boxes span {
    font-size: 15px;
    color: #dde2be; }
  .latest-news-content .boxes .discuss {
    margin-left: 10px;
    display: flex;
    align-items: center; }
    .latest-news-content .boxes .discuss h3 {
      margin: 0; }
  .latest-news-content .boxes h3 {
    font-size: 15px;
    margin: 0;
    margin-left: 10px; }
  .latest-news-content .boxes i {
    margin: 0 10px;
    font-size: 20px; }
  .latest-news-content .boxes .row {
    margin-bottom: 50px;
    max-width: 100%;
    gap: 20px;
    justify-content: center; }
    .latest-news-content .boxes .row:hover img {
      transform: scale(1.1);
      filter: brightness(80%); }
    .latest-news-content .boxes .row:hover h2 {
      color: white; }
    .latest-news-content .boxes .row .img {
      overflow: hidden;
      width: 150px; }
    .latest-news-content .boxes .row .text {
      width: 50%;
      padding: 0; }
      .latest-news-content .boxes .row .text h2 {
        font-size: 15px; }
    .latest-news-content .boxes .row .general {
      justify-content: start; }
      .latest-news-content .boxes .row .general span,
      .latest-news-content .boxes .row .general h3 {
        font-size: 10px; }
    .latest-news-content .boxes .row img {
      width: 100%;
      height: 67%; }

@media (max-width: 768px) {
  .box2,
  .box3 {
    width: 90%;
    text-align: center; } }

@media (max-width: 768px) {
  .latest-news-content .boxes .row .img {
    width: 100%;
    height: 100%; } }

@media (max-width: 768px) {
  .latest-news-content .boxes .row .text {
    width: 73%; } }

@media (max-width: 768px) {
  .latest-news-content .boxes .row {
    margin-left: 7.5px; } }

.special-offer h1 {
  text-align: center; }
  .special-offer h1 body {
    background: #001224;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; }
  .special-offer h1 a {
    margin: auto;
    font-size: 1em;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
    background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, right top, from(#90f3b3), color-stop(#90e9f3), color-stop(#909ff3), color-stop(#cc90f3), color-stop(#f390d1), color-stop(#f39a90), color-stop(#f3e590), to(#b8f390)) repeat scroll 0% 0%/200% 200%;
    background: rgba(0, 0, 0, 0) linear-gradient(90deg, #90f3b3, #90e9f3, #909ff3, #cc90f3, #f390d1, #f39a90, #f3e590, #b8f390) repeat scroll 0% 0%/200% 200%;
    background-clip: border-box;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text; }
  .special-offer h1 a:hover {
    -webkit-animation: GradientAnimation 2s ease infinite;
    animation: GradientAnimation 2s ease infinite; }
@keyframes GradientAnimation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
.special-offer .boxes {
  margin-bottom: 50px; }
  .special-offer .boxes .box {
    background-color: #001224;
    width: 50%;
    text-align: center;
    margin: auto;
    overflow: hidden;
    position: relative; }
    .special-offer .boxes .box:hover .img {
      transform: scale(1.05);
      filter: opacity(80%); }
    .special-offer .boxes .box .img {
      position: relative;
      transition: 0.3s; }
      .special-offer .boxes .box .img::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-image: linear-gradient(transparent 60%, #001224); }
      .special-offer .boxes .box .img img {
        width: 100%; }
    .special-offer .boxes .box p {
      color: white;
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%); }

@media (max-width: 768px) {
  .special-offer .boxes .box {
    width: 100%; } }
.text-success {
  color: #b3ff00 !important;
  padding: 10px; }

.counter {
  margin-top: 50px; }

.counter .days,
.counter .hours,
.counter .minutes,
.counter .seconds {
  border: 1px solid black;
  padding: 10px 15px 60px 15px;
  margin-top: 50px;
  color: blue;
  font-size: 33px;
  border-radius: 6px; }

.counter .text h6 {
  text-align: center;
  align-items: center; }

.latest-events-content {
  display: flex;
  margin-bottom: 150px; }

@media (max-width: 768px) {
  .latest-events-content {
    flex-wrap: wrap; }

  .latest-events .img img {
    width: 100%; } }
.latest-events-content .time {
  display: flex;
  margin-bottom: 50px;
  gap: 10px;
  justify-content: center; }

.latest-events-content .text {
  text-align: center; }

.latest-events-content .text h4 {
  margin-bottom: 20px;
  font-size: 30px; }

.latest-events-content .text p {
  color: #9a9a9a;
  line-height: 1.5; }

.latest-events-content .unit {
  width: 79px;
  color: #464630; }

.latest-events-content .unit .d {
  margin-left: 17px;
  display: block;
  margin-top: 6px;
  font-size: 15px; }

.latest-events-content .unit .h {
  display: block;
  margin-top: 6px;
  text-align: center;
  transform: translateX(-7%);
  font-size: 15px; }

.latest-events-content .unit .m {
  display: block;
  margin-top: 6px;
  text-align: center;
  transform: translateX(-7%);
  font-size: 15px; }

.latest-events-content .unit .s {
  display: block;
  margin-top: 6px;
  text-align: center;
  transform: translateX(-7%);
  font-size: 15px; }

.latest-events-content .counter hr {
  width: 86%;
  margin-top: 25px;
  margin-left: 0; }

/*# sourceMappingURL=index.css.map */
